<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kogitune.wearablelistenerservicebroadcaster" >

    <application
        android:allowBackup="true"
         >
        <service
            android:name=".WearListenerService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
